.ui-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--container-padding);
  padding-right: var(--container-padding);
}

.ui-container--sm {
  max-width: var(--container-sm);
}

.ui-container--md {
  max-width: var(--container-md);
}

.ui-container--lg {
  max-width: var(--container-lg);
}

.ui-container--xl {
  max-width: var(--container-xl);
}

.ui-container--2xl {
  max-width: var(--container-2xl);
}

.ui-container--full {
  max-width: 100%;
}
